:root {
    --primary-color: #0061f2;
    --secondary-color: #858796;
    --danger-color: #e74a3b;
    --light-color: #f8f9fc;
    --dark-color: #5a5c69;
    --dark-gray: rgba(0, 0, 50, 0.1);
    --success-color: #1cc88a;
    --heading-color: #211c51;
    --hover-light: rgba(0, 0, 0, 0.1);
    --round-border: 50px;
    --body-color: rgba(255, 255, 255, 0.5);
    --body-bg: #f2f6fc;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: var(--round-border);
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

/* properties */

.shadow {
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.1) !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-0 {
    padding: 0 !important;
}

.dropdown-divider {
    margin: 1rem 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* typography */

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--body-bg);
    font-weight: 300;
}

a {
    text-decoration: none;
}

p {
    color: var(--secondary-color);
}

h1, h2, h3 {
    color: var(--heading-color);
    margin: 0;
}

.heading {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--heading-color);
    margin-bottom: 1rem;
}

/* inputs */

.input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: var(--round-border);
    padding: 1rem 2rem;
    outline: 0;
    font-size: 1.4rem;
    transition: all 0.3s;
    min-height: 4.2rem;
}

.input-stretch {
    width: 100%;
}

.input:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.input:focus {
    border: 1px solid rgba(0, 0, 0, 2);
}

@media screen and (min-width: 768px) {
    .input {
        font-size: 1.2rem;
    }
}

/* input group */

.input-group {
    display: flex;
    /* margin: 0 0 3rem; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    position: relative;
}

.input-label {
    width: 100%;
    font-size: 1.2rem;
    margin-left: 1.2rem;
    color: var(--secondary-color);
}

.input-icon {
    position: absolute;
    right: 20px;
    font-size: 1.4rem;
    color: var(--heading-color);
    opacity: 0.2;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
}

.input-group:hover .input-icon {
    opacity: 0.4;
}

.input-group .input:focus ~ .input-icon {
    opacity: 1;
}

.password-toggler {
    position: absolute;
    right: 20px;
    font-size: 1.4rem;
    color: var(--heading-color);
    opacity: 0.2;
    transition: opacity 0.3s;
}

.input-group:hover .password-toggler {
    opacity: 0.4;
}

.input-group .input:focus ~ .password-toggler {
    opacity: 1;
}

.password-input {
    padding-right: 5rem;
}

.fa-eye-slash {
    right: 19px;
}

.input-search {
    padding-right: 4.5rem;
}

.input::placeholder {
    opacity: 0.4;
    transition: opacity 0.3s;
}

.input:hover::placeholder {
    opacity: 0.7;
}

.input:focus::placeholder {
    opacity: 1;
}

/* buttons */

.btn {
    border-radius: var(--round-border);
    padding: 1rem 3rem;
    cursor: pointer;
    display: flex;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    transition: all 0.24s;
    overflow: hidden;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.btn-danger {
    background-color: var(--danger-color);
    color: #fff;
    border: 1px solid var(--danger-color);
}

.btn-stretch {
    width: 100%;
    display: block;
}

.btn-white {
    background-color: #fff;
    color: var(--dark-color);
    border: 0;
}

.btn-white:hover {
    background: var(--hover-light);
}

.btn-white:focus {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    background: var(--hover-light);
}

.btn-primary:focus {
    box-shadow: 0 0 0 5px rgba(78, 115, 223, 0.5);
}

.btn-circle {
    border-radius: 100%;
    width: 4.4rem;
    height: 4.4rem;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.6rem;
    }
}

/* links */

.link {
    font-size: 2rem;
    color: var(--primary-color);
}

.link-arrow {
    color: var(--danger-color);
    font-weight: bold;
    text-transform: uppercase;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: all 0.15s;
}

.link-arrow:hover::after {
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .link {
        font-size: 1.6rem;
    }
}

/* lists */

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    line-height: 2;
}

.list-inline {
    display: flex;
}

.list-inline .list-item {
    margin-left: 2.4rem;
}

@media screen and (min-width: 768px) {
    .list {
        font-size: 1.6rem;
    }
}

/* blocks */

.block {
    display: block;
    padding: 6rem 1rem;
}

.block-light {
    background-color: var(--light-color);
}

.block-white {
    background-color: #fff;
}

.block-dark {
    background-color: var(--dark-color);
}

.block-black {
    background-color: #000;
}

.block-dark .block-heading {
    color: #fff;
}

.block-black .block-heading {
    color: #fff;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 3rem;
    max-width: 420px;
    margin: 0 auto;
}

.form-title {
    margin-bottom: 2rem;
}

.form-group {
    width: 100%;
    margin-bottom: 1.6rem;
}

.form-group .input-group {
    margin: 0;
}

.submit-btn {
    margin: 5rem;
}

@media screen and (min-width: 1024px) {
    .form-block {
        background-color: var(--light-color);
    }

    .form {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5rem 4rem;
    }

    .submit-btn {
        margin: 3rem;
    }
}

/* image */

.image-fluid {
    width: 100%;
    height: 100%;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    height: 5.8rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    z-index: 20;
}

.navbar-white {
    background-color: #fff;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navbar-title {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--heading-color);
}

.navbar-brand .sidenav-toggler {
    margin-right: 1rem;
    display: none;
}

.navbar-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navbar-link {
    margin-left: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-mobile {
    display: block;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-wide {
    display: none;
}

@media screen and (min-width: 1024px) {
    .navbar-brand {
        min-width: 230px;
    }

    .navbar-brand .sidenav-toggler {
        display: block;
    }

    .navbar-nav .sidenav-toggler {
        display: none;
    }

    .navbar-mobile {
        display: none;
    }

    .navbar-wide {
        display: block;
    }

    .navbar-wide.input-group {
        min-width: 350px;
    }
}

/* sidenav */

.sidenav-layer {
    height: 100vh;
    width: 0;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    z-index: 18;
}

.sidenav-layer.show {
    width: 100vw;
}

.sidenav {
    width: 240px;
    height: 100vh;
    z-index: 19;
    position: fixed;
    left: -240px;
    transition: left 0.24s;
}

.sidenav-white {
    background-color: #fff;
}

.sidenav-layer.show .sidenav {
    left: 0;
}

.sidenav-nav {
    background-color: #fff;
    height: calc(100vh - 5.8rem - 8rem);
    overflow-y: auto;
    
}

.sidenav-footer {
    background-color: var(--body-bg);
    height: 8rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 1.6rem;
}

.sidenav-heading {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 3rem 1.6rem 1.2rem;
    font-weight: 800;
}

.sidenav-user {
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
}

.sidenav-footer-label {
    font-size: 1.2rem;
}

.sidenav .nav-link {
    font-size: 1.4rem;
    padding: 1.2rem 1.6rem;
    color: #000;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.navlink-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.2rem;
    fill: rgba(0, 0, 0, 0.25);
}

.nav-link.active {
    color: var(--primary-color);
    font-weight: 800;
}

.nav-link.active .navlink-icon {
    fill: var(--primary-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
    .sidenav-layer.show {
        width: 0;
    }

    .sidenav-layer.show ~ .content-wrapper {
        margin-left: 240px;
    }
}

/* containers */

.content-wrapper {
    margin-top: 5.8rem;
    transition: margin 0.24s;
}

.container {
    margin: 0 auto;
    display: block;
    max-width: 1140px;
}

/* card */

.card {
    display: flex;
    overflow: hidden;
    background-color: var(--body-bg);
    border-radius: 20px;
    margin: 0 auto 2.4rem;
    width: 93%;
    flex-wrap: wrap;
}

.card .card-header,
.card .card-content,
.card .card-footer {
    padding: 2.4rem 3rem 2rem;
    z-index: 2;
    width: 100%;
}

.card-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-heading {
    color: var(--heading-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.card-content {
    background-color: #fff;
    font-size: 1.6rem;
    font-weight: 300;
}

.card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


/* page component */

.page-header {
    padding-bottom: 9.8rem;
    background-color: var(--primary-color);
    text-align: start;
}

.page-header-content {
    padding: 4.8rem 2.4rem;
}

.page-header-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
}

.page-header-subtext {
    color: var(--body-color);
    font-size: 1.8rem;
}

.page-content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content {
    position: absolute;
    top: -9.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2.4rem;
}

/* grids */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .col-md-2 {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (min-width: 1024px) {
    .col-lg-3 {
        grid-template-columns: repeat(3, 33.5%);
    }
}

@media screen and (min-width: 1440px) {
    .col-xl-3 {
        grid-template-columns: repeat(3, 33.5%);
    }
}

/* icons */

.icon-container {
    width: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    border-radius: var(--round-border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.icon-large {
    width: 4.5rem;
    height: 4.5rem;
}

.icon-light {
    fill: var(--light-color);
}

.icon-light-gray {
    fill: rgba(255, 255, 255, 0.5);
}

/* dropdowns */

.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    align-items: center;
    width: 0;
    height: 0;
    z-index: 30;
    background-color: #fff;
    position: absolute;
    transform: scale(0.8);
    transition: transform 0.1s;
    padding: 1rem 0;
}

.dropdown.show .dropdown-content {
    min-width: 24rem;
    width: fit-content;
    height: fit-content;
    transform: scale(1);
    justify-content: space-between;
}

.dropdown-menu {
    list-style: none;
    font-size: 1.4rem;
    width: 100%;
}

.dropdown-item > a {
    display: flex;
    padding: 0.5rem 2.4rem;
    color: #000;
    align-items: center;
}

.dropdown-item > a:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.dropdown-item-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    fill: rgba(0, 0, 0, 0.3);
}

.dropdown .input-group {
    margin: 0 1.6rem;
}

.dropdown.dropdown-right .dropdown-content {
    left: auto;
    right: 0;
}


@media screen and (max-width: 767px) {
    .w-100-sm.show.dropdown {
        position: initial;
    }
    
    .w-100-sm.show.dropdown .dropdown-content {
        width: 90vw;
        left: 0;
        right: 0;
    }
}

/* media */

.media {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2.4rem;
}

.media-content {
    margin-left: 1.2rem;
}

.media-author {
    font-size: 1.4rem;
    font-weight: 500;
}

.media-email {
    font-size: 1.2rem;
}

/* collapsible */

.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    cursor: pointer;
}

.collapsible-heading {
    font-weight: 400;
    font-size: 1.4rem;
    color: #000;
}

.nav-link.collapsible-header:hover .collapsible-heading {
    color: var(--primary-color);
}

.nav-link.active .collapsible-heading {
    color: var(--primary-color);
    font-weight: 800;
}

.collapsible-chevron {
    transform: rotate(-90deg);
    width: 1.4rem;
    height: 1.4rem;
    transition: transform 0.25s;
    fill: rgba(0, 0, 0, 0.5);
}

.collapsible-content {
    margin-left: 2.4rem;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 0;
    padding-left: 1rem;
    overflow: hidden;
    transition: max-height 0.3s;
}

.collapsible.show > .collapsible-content {
    max-height: 100vh;

}

.collapsible-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1.6rem;
    fill: rgba(0, 0, 0, 0.25);
}

.collapsible.show > .collapsible-header .collapsible-chevron {
    transform: rotate(0);
}
